node_modules
# Keep environment variables out of version control
.env

/prisma/migrations/*

# package-lock.json
package-lock.json
PRODUCTION_READY_SUMMARY.md
PROJECT_STRUCTURE.md
API_DOCUMENTATION.md
